#Homes {
    background-color: gray;
    color: white;
    border-color: gray;
}

.button {
    color: rgb(255, 255, 255);
    background-color: rgb(90, 90, 90);
    border-color: rgb(90, 90, 90);
    border-left-color: rgb(43, 43, 43);
    border-right-color: rgb(43, 43, 43);
    border-top-color: rgb(43, 43, 43);
    border-bottom-color: rgb(43, 43, 43);
    width: 150%;
    height: auto;
    background-image: none;
}

.position {
    position: absolute; 
    bottom: 0;
    left: 0;
}
